body {
  background: #ADE8E6;
  font-family: 'Open Sans', sans-serif;
}
.wrap{
	background: #ADE8E6;
	width: 900px;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background: #20B2AA;
	/*height: 50px;*/
	padding: 2px 10px;
}
 
