body {
  background: #ADE8E6;
  font-family: 'Open Sans', sans-serif;
}
.wrap{
	background: #ADE8E6;
	width: 900px;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background: #20B2AA;
	/*height: 50px;*/
	padding: 2px 10px;
}

/*akhir header*/

/*bagian menu*/
.wrap .menu{
        background: #20B2AA;
}

.wrap .menu ul{
        padding: 0;
        margin: 0;
        background: #20B2AA;
        overflow: hidden;
}

.wrap .menu ul li{
        float: left;
        list-style-type: none;
        padding: 10px;
}

 
